html{

  body{
    background-color: $primary-color;
    background-image: url(../assets/images/star-background.jpg);
    background-blend-mode:luminosity;
    background-repeat: repeat;
    background-size: contain;
    margin:0;

    main{
      width: 90%;
      margin: 0 auto;
    }
  }
}
