html{

  body{
    background-color: $primary-color;
    background-image: url(../assets/images/star-background.jpg);
    background-blend-mode:luminosity;
    background-repeat: repeat;
    background-size: contain;
    width: 90%;
    margin: 0 auto;

    header{
      margin-bottom: 4rem;

      #logo{
        margin: 2rem 2rem 2rem 0;
      }
    }
  }
}
