body{
  color: $body-color;

  h1{
    @include h1-responsive;
    font-family: $font-famiy-label;
    font-weight: $font-weight-normal;
  }

  h3{
    @include h3-responsive;
    font-family: $font-famiy-label;
    font-weight: $font-weight-normal;
  }

  p{
    font-family: $font-family-body;
  }

  #logo{
    @include h1-responsive;
  }

  .header-content__lead-in{
    font-size: $font-size-cta;
  }
}
