body{
  color: $body-color;
  h1{
    font-family: $font-famiy-label;
    font-weight: $font-weight-normal;
    font-size: $font-size-h1;
  }
  h3{
    font-size: $font-size-h3;
    font-family: $font-famiy-label;
    font-weight: $font-weight-normal;
  }
  p{
    font-family: $font-family-body;
  }
  #logo{
    font-size: $font-size-h1;
  }
  .header-content__lead-in{
    font-size: $font-size-cta;
  }
}
