//type
$font-famiy-label: 'Monoton', cursive;
$font-family-body: 'Montserrat', sans-serif;
$font-weight-light: thin;
$font-weight-normal: normal;
$font-weight-bold: bold;
$font-size-body: 2.5rem;
$font-size-h1: 4rem;
$font-size-h2: 3.75rem;
$font-size-h3: 3.5rem;
$font-size-cta: 3rem;

//colors
$primary-color: #0D192B;
$body-color: #ffffff;
